   body {
     background-image: url('received_1436454444520023.jpeg');
     background-size: cover;
     background-attachment: fixed;
     background-position: center;
     color: white; /* adjust text color for visibility */
   }
   
